#### Imports

In [6]:
# interface
from tqdm import tqdm
from dsutils.de.files import dbg

## Files and filesystem
import os
import json
import csv
import glob

## Data management
import numpy as np
import pandas as pd

## DS tools
import re
from types import NoneType
from dsutils.de.files import describe_csv, get_csv_head, xls_to_csv, get_data_path, get_datafile_path
from dsutils.nlp.language import get_lang_code

#### Paths

In [7]:
## input
LR_filepath = '/home/elubrini/GitHub/bio-corpus-translation/lexical_resources/for_annotation/LR.csv'

## Output

# Stats

In [8]:
df = pd.read_csv(LR_filepath).astype(str)
nan = df.EFSA_PHT[0]

/tmp/ipykernel_493637/1001951825.py:1: DtypeWarning: Columns (1,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(LR_filepath).astype(str)

In [9]:
df.head()

,preferred_name,EPPO_CODE,synonym,ds_language,EFSA_PHT,re,NCBI_TAXID
0,'Abelmoschus esculentus' bunchy top phytoplasma,nan,'Abelmoschus esculentus' bunchy top phytoplasma,nan,nan,nan,ncbi:926989
1,'Acacia arabica' phytoplasma,nan,'Acacia arabica' phytoplasma,nan,nan,nan,ncbi:2849181
2,'Acacia farnesiana' leaflet phytoplasma,nan,'Acacia farnesiana' leaflet phytoplasma,nan,nan,nan,ncbi:2654099
3,'Acacia mangium' little leaf and yellowing phy...,nan,'Acacia mangium' little leaf and yellowing phy...,nan,nan,nan,ncbi:2530013
4,'Acacia melanoxylon' phytoplasma,nan,'Acacia melanoxylon' phytoplasma,nan,nan,nan,ncbi:1477896

In [10]:
np.NaN == np.NaN

False

In [14]:
df[(df.NCBI_TAXID == nan)].head()
df[(df.EFSA_PHT != nan) & (df.EPPO_CODE == nan)].head()

,preferred_name,EPPO_CODE,synonym,ds_language,EFSA_PHT,re,NCBI_TAXID
2315033,acalolepta sejuncta,nan,nan,nan,AcaloleptaSejuncta-PHT,acalolepta sejuncta,nan
2315034,Acalymma vittatum,nan,nan,Spanish,AcalymmaVittatum-PHT,tortuguilla\w* de las cucurbit\wceas,nan
2315035,acanthococcus pohutukawa,nan,nan,nan,AcanthococcusPohutukawa-PHT,acanthococcus pohutukawa,nan
2315036,acantholyda nipponica,nan,nan,nan,AcantholydaNipponica-PHT,lyda nipponica,nan
2315037,Acaphylla theae,nan,nan,nan,AcaphyllaTheae-PHT,vleeschkleurige theemijt,nan